@font-face {
  font-family: "ColateraSoft"; /* Nombre de la fuente */
  src: url("fonts/ColateraSoft.ttf") format("truetype"); /* Ruta al archivo de la fuente */
}
.container-link-animaciones {
  position: absolute;
  width: 30%;
  top: 85%;
  left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  border: 2px solid black;
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  font-family: "Inter", sans-serif;
}
@media (min-width: 768px) {
  .container-link-animaciones {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .container-link-animaciones {
    width: 30%;
  }
}
.container-link-animaciones .texto {
  font-size: 0.7rem;
}
@media (min-width: 768px) {
  .container-link-animaciones .texto {
    font-size: 1rem;
  }
}
.container-link-animaciones .numero {
  position: relative;
  border-radius: 50%;
  border: 2px solid black;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
@media (min-width: 768px) {
  .container-link-animaciones .numero {
    width: 30px;
    height: 30px;
  }
}
.container-link-animaciones .numero a {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: gray;
}
.container-link-animaciones .numero--selected {
  background-color: black;
}
.container-link-animaciones .numero--selected a {
  color: white;
}
.container-link-animaciones .numero:hover {
  background-color: black;
}
.container-link-animaciones .numero:hover a {
  color: white;
  font-weight: bold;
}

body {
  background-color: #f4eddc;
  font-family: "ColateraSoft", sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
section .contenido-principal {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  opacity: 0.2;
}
section .central {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  z-index: 2;
}
section .central .one {
  opacity: 1;
  width: 100%;
  scale: 1.82;
  z-index: 2;
  -webkit-mask-image: url(../One.71d8aa39.svg);
          mask-image: url(../One.71d8aa39.svg);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  position: relative;
}
section .central .one--lady {
  transform: translate(0px, -250px);
  scale: 1.2;
}
section .central .one--zero {
  scale: 1.79;
  transform: translateX(0px);
  -webkit-mask-image: url(../Zero.0fdf939f.svg);
          mask-image: url(../Zero.0fdf939f.svg);
}
section .central .one--zero--middle {
  transform: translateX(-160px);
}
section .central .one--zero--right {
  scale: 1.63;
  transform: translate(-170px, -80px);
}
section .central .one--zero--right--back {
  transform: translateX(160px);
}
section .central .one--zero .mask {
  width: 150%;
  height: 100%;
}
section .central .one--hundred {
  scale: 2.5;
  -webkit-mask-image: url(../Hundred.b3353aed.svg);
          mask-image: url(../Hundred.b3353aed.svg);
}
section .central .one--hundred--lady {
  opacity: 1;
}
section .central .one .mask {
  width: 120%;
  height: 100%;
  overflow: hidden;
}
section .central .one .mask .image {
  width: 120%;
  height: 100%;
  transform: translateY(90px);
  transform: translateX(-250px);
}
section .central .one .mask .image--uno {
  transform: translate(-350px, -250px);
  width: 120%;
  height: 100%;
}
section .central .one .mask .image--uno--lady {
  transform: translate(-150px, -550px);
  width: 100%;
  height: 100%;
}
section .central .one .mask .image--middle {
  width: 120%;
  scale: 1.4;
  transform: translate(-115px, -100px);
}
section .central .one .mask .image--middle--after {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  scale: 1;
  top: 10%;
  left: 5%;
}
section .central .one .mask .image--middle--lady {
  scale: 1.5;
  transform: translate(-25px, 45px);
}
section .central .one .mask .image--last {
  width: 120%;
  scale: 1.4;
  transform: translate(-645px, -100px);
}
section .central .one .mask .image--last--after {
  position: absolute;
  opacity: 0;
  width: 90%;
  height: 90%;
  scale: 1;
  top: 18%;
  left: 35%;
}
section .central .one .mask .image--last--lady {
  scale: 1.5;
  transform: translate(-535px, 30px);
}
section .central .one .mask .image--lady {
  width: 120%;
  height: 100%;
  transform: translate(-250px, 300px);
}
section .central .texto {
  width: 10000px;
  opacity: 0;
  font-size: 40rem;
  font-weight: bold;
  line-height: 1px;
  position: relative;
  top: -190%;
  left: 90%;
  letter-spacing: -4rem;
}
section .cero-derecha {
  transform: translateX(70px);
  z-index: -1;
}
section .cero-derecha .image {
  width: 120%;
  height: 100%;
}
section .cero-mascara-bg {
  z-index: 1;
}
section .cero-mascara-bg .texto {
  top: -180%;
  left: 110%;
}
section .cero-mascara-fondo {
  z-index: 0;
}
section .cero-mascara-fondo .image {
  width: 120%;
  height: 100%;
}
section .uno-izquierda {
  z-index: 2;
  transform: translate(-165px, 5px);
}
section .elemento-libre {
  opacity: 0;
}
section .cero-derecha .texto {
  top: -180%;
  left: -185%;
}
section .title {
  position: absolute;
  width: 450px;
  height: 200px;
  top: 70%;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #849ba1;
}
section .title img {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=main.css.map */