$color-texto: #777674;
$color-fondo: black;
$color-link-hover: #f4d88c;
$color-link-works-current: #eeae30;

// Mixin desktop
@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

// Mixin tablet
@mixin tablet {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

.container-link-animaciones{
  position: absolute;
  width: 80%;
  top: 85%;
  left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  border: 2px solid black;
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  font-family: 'Inter', sans-serif;


  // tablet 
  @include tablet{
    width: 40%;
  }

  // desktop
  @include desktop{
    width: 30%;
  }


  .texto{
    // intervalo de font-size
    font-size: 0.7rem;

    // tablet
    @include tablet{
      font-size: 1rem;
    }
  }

  .numero{
    position: relative;
    border-radius: 50%;
    border: 2px solid black;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    // tablet
    @include tablet{
      width: 30px;
      height: 30px;
    }

    a {
      width: 100%;
      height: 100%;
      position: absolute;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: gray;
    }

    &--selected{
      background-color: black;
      
      a{
        color: white;
      }

    }

    &:hover{
      background-color: black;
      a{
        color: white;
        font-weight: bold;
      }
    }
  }
  // Quitar estilos de los link


}

body {
  background-color: $color-fondo;
  color: $color-texto;
  overflow: hidden;
}

.background-obscuro {
  position: absolute;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  filter: brightness(20%);
}

.overlay-menu {
  padding: 1.5rem;
  font-size: 0.82rem;
  font-family: "Onest", sans-serif;

  z-index: 3;
  color: $color-texto;
  height: 100%;
  position: absolute;
  display: grid;
  // Grid Template Columns
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  // Grid Template Rows
  grid-template-rows: 0.8fr 1fr 1fr 1fr;
  // Space between columns
  column-gap: 5rem;

  .big-text {
    width: 70%;
    p {
      margin: 0px;
    }
  }

  .small-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start !important;

    &--links {
      flex-direction: row !important;
      // Abarca 2 columnas
      grid-column: 2 / 4;
      a {
        color: $color-texto;
        text-decoration: underline;
        width: fit-content;
        margin-right: 1rem;
        &:hover {
          color: $color-link-hover;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }

  .link {
    margin-top: -5rem;

    // Sobrescribir el estilo de los links
    a {
      color: $color-texto;
      // Subrayado
      text-decoration: underline;

      &:hover {
        color: $color-link-hover;
        text-decoration: none;
      }
    }
  }

  .recent-works {
    display: flex;
    flex-direction: column;

    .first {
      margin-bottom: 1rem;
    }

    .works {
      color: white;
      font-size: 1.2rem;
      width: fit-content;
      margin-bottom: 0.5rem;

      &:hover {
        color: $color-link-works-current;
        cursor: pointer;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 4.5rem;
  }

  .medium-text {
  }

  .large-row {
    grid-column: 1 / 5;
  }

  .link-medium {
    display: flex;
    align-items: end;
    p {
      width: 80%;
      margin: 0px;
    }
  }
}

.container-video {
  height: 100%;
  position: absolute;

  .titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 4em;
    color: white;
    font-weight: 540;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Onest", sans-serif;

    .secundario {
      margin-left: 10rem;
    }
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.container-animations {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 75%;
  height: 78%;
  z-index: 2;
  display: none;
  opacity: 1;
  background: transparent;

  .layout {
    width: 100%;
    height: 100%;
    display: grid;
    // 10 x 10
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    overflow: hidden;
    display: none;

    .texto {
      position: absolute;
      color: white;
      font-size: 5rem;
      font-family: "Onest", sans-serif;
      z-index: 2;
      top: 35%;
      left: 15%;
      display: flex;
      flex-direction: column;
      scale: 0.8;
      opacity: 0;
    }

    .image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 0%;
      width: 100%;
      height: 100%;
      scale: 1.2;

      &-1 {
        background-image: url("../media/1.jpg");
      }

      &-2 {
        background-image: url("../media/2.jpg");
      }

      &-3 {
        background-image: url("../media/3.jpg");
      }

      &-4 {
        background-image: url("../media/4.jpg");
      }

      &-5 {
        background-image: url("../media/5.jpg");
      }

      &-6 {
        background-image: url("../media/6.jpg");
      }

      &-7 {
        background-image: url("../media/7.jpg");
      }

      &-8 {
        background-image: url("../media/8.jpg");
      }

      &-9 {
        background-image: url("../media/9.jpg");
      }

      &-10 {
        background-image: url("../media/10.jpg");
      }

      &-11 {
        background-image: url("../media/11.jpg");
      }

      &-12 {
        background-image: url("../media/12.jpg");
      }

      &-13 {
        background-image: url("../media/13.jpg");
      }

      &-14 {
        background-image: url("../media/14.jpg");
      }

      &-15 {
        background-image: url("../media/15.jpg");
      }
    }

    .image-container {
      overflow: hidden;
    }

    &-1 {
      .image-container {
        &-1 {
          grid-area: 1 / 1 / 5 / 5;
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
        }

        &-2 {
          grid-area: 5 / 9 / 9 / 11;
          clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
          // desktop
          @include desktop {
            grid-area: 5 / 7 / 10 / 10;
          }
        }

        &-3 {
          grid-area: 7 / 2 / 11 / 4;
          clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
        }
      }
    }

    &-2 {
      .image-container {
        &-4 {
          grid-area: 3 / 6 / 8 / 10;
          clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
        }

        &-5 {
          grid-area: 6 / 5 / 9 / 8;
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
          @include desktop {
            grid-area: 6 / 5 / 11 / 8;
          }
        }

        &-6 {
          grid-area: 1 / 2 / 3 / 4;
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);

          // desktop
          @include desktop {
            grid-area: 2 / 1 / 6 / 4;
          }
        }
      }
    }

    &-3 {
      .image-container {
        &-7 {
          grid-area: 7 / 2 / 10 / 5;
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);

          @include desktop {
            grid-area: 7 / 2 / 11 / 4;
          }
        }

        &-8 {
          grid-area: 2 / 8 / 8 / 11;
          clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);

          @include desktop {
            grid-area: 2 / 8 / 9 / 10;
          }
        }

        &-9 {
          grid-area: 2 / 3 / 5 / 6;
          clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
          @include desktop {
            grid-area: 2 / 3 / 5 / 5;
          }
        }
      }
    }

    &-4 {
      .image-container {
        &-10 {
          grid-area: 3 / 7 / 8 / 11;
          clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);

          @include desktop {
            grid-area: 6 / 7 / 10 / 9;
          }



        }

        &-11 {
          grid-area: 6 / 5 / 11 / 9;
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
          @include desktop {
            grid-area: 4 / 1 / 10 / 3;
          }


        }

        &-12 {
          grid-area: 1 / 2 / 4 / 4;
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
          @include desktop {
            grid-area: 1 / 5 / 5 / 9;
          }
        }
      }
    }

    &-5 {
      .image-container {
        &-13 {
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);

          @include desktop {
            grid-area: 2 / 7 / 8 / 10;
          }

        }

        &-14 {
          
          clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);

          @include desktop {
            grid-area: 1 / 4 / 5 /6;
          }
        }

        &-15 {
          grid-area: 7 / 2 / 11 / 4;
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
          @include desktop {
            grid-area: 6 / 2 / 10 / 4;
          }
        }
      }
    }
  }
}

.hover {
  text-decoration: underline;
  &:hover {
    color: $color-link-hover;
    text-decoration: none;
    cursor: pointer;
  }
}
