.container-link-animaciones {
  position: absolute;
  width: 80%;
  top: 85%;
  left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  border: 2px solid black;
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  font-family: "Inter", sans-serif;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container-link-animaciones {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .container-link-animaciones {
    width: 30%;
  }
}
.container-link-animaciones .texto {
  font-size: 0.7rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container-link-animaciones .texto {
    font-size: 1rem;
  }
}
.container-link-animaciones .numero {
  position: relative;
  border-radius: 50%;
  border: 2px solid black;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container-link-animaciones .numero {
    width: 30px;
    height: 30px;
  }
}
.container-link-animaciones .numero a {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: gray;
}
.container-link-animaciones .numero--selected {
  background-color: black;
}
.container-link-animaciones .numero--selected a {
  color: white;
}
.container-link-animaciones .numero:hover {
  background-color: black;
}
.container-link-animaciones .numero:hover a {
  color: white;
  font-weight: bold;
}

body {
  background-color: black;
  color: #777674;
  overflow: hidden;
}

.background-obscuro {
  position: absolute;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  filter: brightness(20%);
}

.overlay-menu {
  padding: 1.5rem;
  font-size: 0.82rem;
  font-family: "Onest", sans-serif;
  z-index: 3;
  color: #777674;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 1fr 1fr 1fr;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.overlay-menu .big-text {
  width: 70%;
}
.overlay-menu .big-text p {
  margin: 0px;
}
.overlay-menu .small-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start !important;
}
.overlay-menu .small-text--links {
  flex-direction: row !important;
  grid-column: 2/4;
}
.overlay-menu .small-text--links a {
  color: #777674;
  text-decoration: underline;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 1rem;
}
.overlay-menu .small-text--links a:hover {
  color: #f4d88c;
  text-decoration: none;
  cursor: pointer;
}
.overlay-menu .link {
  margin-top: -5rem;
}
.overlay-menu .link a {
  color: #777674;
  text-decoration: underline;
}
.overlay-menu .link a:hover {
  color: #f4d88c;
  text-decoration: none;
}
.overlay-menu .recent-works {
  display: flex;
  flex-direction: column;
}
.overlay-menu .recent-works .first {
  margin-bottom: 1rem;
}
.overlay-menu .recent-works .works {
  color: white;
  font-size: 1.2rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.5rem;
}
.overlay-menu .recent-works .works:hover {
  color: #eeae30;
  cursor: pointer;
}
.overlay-menu .bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 4.5rem;
}
.overlay-menu .large-row {
  grid-column: 1/5;
}
.overlay-menu .link-medium {
  display: flex;
  align-items: end;
}
.overlay-menu .link-medium p {
  width: 80%;
  margin: 0px;
}

.container-video {
  height: 100%;
  position: absolute;
}
.container-video .titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 4em;
  color: white;
  font-weight: 540;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Onest", sans-serif;
}
.container-video .titulo .secundario {
  margin-left: 10rem;
}
.container-video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-animations {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 75%;
  height: 78%;
  z-index: 2;
  display: none;
  opacity: 1;
  background: transparent;
}
.container-animations .layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  overflow: hidden;
  display: none;
}
.container-animations .layout .texto {
  position: absolute;
  color: white;
  font-size: 5rem;
  font-family: "Onest", sans-serif;
  z-index: 2;
  top: 35%;
  left: 15%;
  display: flex;
  flex-direction: column;
  scale: 0.8;
  opacity: 0;
}
.container-animations .layout .image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  width: 100%;
  height: 100%;
  scale: 1.2;
}
.container-animations .layout .image-1 {
  background-image: url("../media/1.jpg");
}
.container-animations .layout .image-2 {
  background-image: url("../media/2.jpg");
}
.container-animations .layout .image-3 {
  background-image: url("../media/3.jpg");
}
.container-animations .layout .image-4 {
  background-image: url("../media/4.jpg");
}
.container-animations .layout .image-5 {
  background-image: url("../media/5.jpg");
}
.container-animations .layout .image-6 {
  background-image: url("../media/6.jpg");
}
.container-animations .layout .image-7 {
  background-image: url("../media/7.jpg");
}
.container-animations .layout .image-8 {
  background-image: url("../media/8.jpg");
}
.container-animations .layout .image-9 {
  background-image: url("../media/9.jpg");
}
.container-animations .layout .image-10 {
  background-image: url("../media/10.jpg");
}
.container-animations .layout .image-11 {
  background-image: url("../media/11.jpg");
}
.container-animations .layout .image-12 {
  background-image: url("../media/12.jpg");
}
.container-animations .layout .image-13 {
  background-image: url("../media/13.jpg");
}
.container-animations .layout .image-14 {
  background-image: url("../media/14.jpg");
}
.container-animations .layout .image-15 {
  background-image: url("../media/15.jpg");
}
.container-animations .layout .image-container {
  overflow: hidden;
}
.container-animations .layout-1 .image-container-1 {
  grid-area: 1/1/5/5;
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
.container-animations .layout-1 .image-container-2 {
  grid-area: 5/9/9/11;
  -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}
@media (min-width: 1024px) {
  .container-animations .layout-1 .image-container-2 {
    grid-area: 5/7/10/10;
  }
}
.container-animations .layout-1 .image-container-3 {
  grid-area: 7/2/11/4;
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
.container-animations .layout-2 .image-container-4 {
  grid-area: 3/6/8/10;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.container-animations .layout-2 .image-container-5 {
  grid-area: 6/5/9/8;
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
@media (min-width: 1024px) {
  .container-animations .layout-2 .image-container-5 {
    grid-area: 6/5/11/8;
  }
}
.container-animations .layout-2 .image-container-6 {
  grid-area: 1/2/3/4;
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
@media (min-width: 1024px) {
  .container-animations .layout-2 .image-container-6 {
    grid-area: 2/1/6/4;
  }
}
.container-animations .layout-3 .image-container-7 {
  grid-area: 7/2/10/5;
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
@media (min-width: 1024px) {
  .container-animations .layout-3 .image-container-7 {
    grid-area: 7/2/11/4;
  }
}
.container-animations .layout-3 .image-container-8 {
  grid-area: 2/8/8/11;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
@media (min-width: 1024px) {
  .container-animations .layout-3 .image-container-8 {
    grid-area: 2/8/9/10;
  }
}
.container-animations .layout-3 .image-container-9 {
  grid-area: 2/3/5/6;
  -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}
@media (min-width: 1024px) {
  .container-animations .layout-3 .image-container-9 {
    grid-area: 2/3/5/5;
  }
}
.container-animations .layout-4 .image-container-10 {
  grid-area: 3/7/8/11;
  -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}
@media (min-width: 1024px) {
  .container-animations .layout-4 .image-container-10 {
    grid-area: 6/7/10/9;
  }
}
.container-animations .layout-4 .image-container-11 {
  grid-area: 6/5/11/9;
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
@media (min-width: 1024px) {
  .container-animations .layout-4 .image-container-11 {
    grid-area: 4/1/10/3;
  }
}
.container-animations .layout-4 .image-container-12 {
  grid-area: 1/2/4/4;
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
@media (min-width: 1024px) {
  .container-animations .layout-4 .image-container-12 {
    grid-area: 1/5/5/9;
  }
}
.container-animations .layout-5 .image-container-13 {
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
@media (min-width: 1024px) {
  .container-animations .layout-5 .image-container-13 {
    grid-area: 2/7/8/10;
  }
}
.container-animations .layout-5 .image-container-14 {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
@media (min-width: 1024px) {
  .container-animations .layout-5 .image-container-14 {
    grid-area: 1/4/5/6;
  }
}
.container-animations .layout-5 .image-container-15 {
  grid-area: 7/2/11/4;
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
@media (min-width: 1024px) {
  .container-animations .layout-5 .image-container-15 {
    grid-area: 6/2/10/4;
  }
}

.hover {
  text-decoration: underline;
}
.hover:hover {
  color: #f4d88c;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */