@font-face {
  font-family: 'Salih Kizilkaya'; /* Nombre de la fuente */
  src: url('../fonts/Salih\ Kizilkaya\ -\ SK\ Zweig\ Rounded\ Light\ Italic.ttf') format('truetype'); /* Ruta al archivo de la fuente */
}

@font-face {
  font-family: 'Botanika Mono'; /* Nombre de la fuente */
  src: url('../fonts/Botanika\ Mono\ Regular.otf') format('truetype'); /* Ruta al archivo de la fuente */
}

// Mixin para tablet y desktop
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

.wrapper-sticky{
  width: 100%;
  position: absolute;
  height: 100%;
}

.container-link-animaciones{
  position: sticky;
  width: 30%;
  top: 85%;
  left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  border: 2px solid black;
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  font-family: 'Inter', sans-serif;

  .numero{
    position: relative;
    border-radius: 50%;
    border: 2px solid black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    a {
      width: 100%;
      height: 100%;
      position: absolute;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: gray;
    }

    &--selected{
      background-color: black;
      
      a{
        color: white;
      }

    }

    &:hover{
      background-color: black;
      a{
        color: white;
        font-weight: bold;
      }
    }
  }

  // Quitar estilos de los link


}


$color-texto-secundario: #646363;
$color-texto-secundario-activado: #8b8b8b;
body {
  background-color: black;
}


.contenedor-general{
  width: 100%;
  display: flex;

  .navbar{
    height: 97%;
    font-size: .6rem;
    position: sticky;
    display: flex;
    
    font-family: 'Botanika Mono'; ;
    top: 0;
    color: $color-texto-secundario;
    // Texto vertical
    writing-mode: vertical-rl;
    // Voltear el texto de abajo hacia arriba
    transform: rotate(180deg);
    padding: 5px;
    line-height: 20px;

    // tablet
    @include tablet{
      font-size: 1.2rem;
      width: 8%;
    }

    // Quitar decoracion de a
    a{
      text-decoration: none;
      color: $color-texto-secundario;
    }

    .titulo{
      height: 39%;
      display: flex;
      text-align: end;
      color: $color-texto-secundario-activado;
      margin-bottom: 3%;


      a{
        margin-right: 13%;
        // Rotar el texto
        svg{
          // Invertir el texto
          transform: rotate(90deg);
        }
      }

      
      &-centro{
        height: 20%;
        margin-bottom: 7%;
        margin-top: 5%;
      }

      &-final{
        margin-top: 5%;
        margin-right: 1.5%;
        height: 45%;
        display: flex;
      }
    }
  }

  .contenedor-escenas{
    width: 90%;

    .elemento-parallax{
      width: 100%;
      height: 93vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .columna-1{
        width: 100%;
        height: 94%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .regresar{
          display: flex;
          align-items: center;
          width: 100%;
          color: white;
          opacity: 0;

          &:hover{
            cursor: pointer;
          }

          svg{
            width: 40px;
            margin-right: 30px;
          }
        }

        .background{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          // Hacer zoom en la imagen
          background-size: cover;

          // Tablet
          @include tablet{
            background-size: 200% 200%;
          }

          // Desktop
          @include desktop{
            background-size: 200% 200%;
          }


          &:hover{
            cursor: pointer;
          }
          &-1{
            background-image: url('../1.jpg');
          }
          &-2{
            background-image: url('../2.jpg');
          }
          &-3{
            background-image: url('../3.jpg');
          }
          &-4{
            background-image: url('../4.jpg');
          }
          &-5{
            background-image: url('../5.jpg');
          }
          &-6{
            background-image: url('../6.jpg');
          }
          &-7{
            background-image: url('../7.jpg');
          }
          &-8{
            background-image: url('../8.jpg');
          }
          &-9{
            background-image: url('../9.jpg');
          }
    
          .texto{
            color: white;
            font-size: 2rem;
            line-height: 0px;
            width: 100%;
            text-align: center;
            
            font-family: 'Salih Kizilkaya';

            // Tablet
            @include tablet{
              font-size: 7rem;
            }

            // Desktop
            @include desktop{
              font-size: 8rem;
            }
            
            .texto-grande{
              overflow: hidden;
              width: 100%;
            }
  
    
            .texto-pequeno{
              font-family: 'Botanika Mono';
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              font-size: 0.6rem;
              margin-top: 0px;

              // Tablet
              @include tablet{
                font-size: 1rem;
                margin-top: -50px;
              }

              // Desktop
              @include desktop{
                font-size: 1.1rem;
                margin-top: -50px;
              }
              
              p{
                line-height: 0px;
                margin-bottom: 0px;
              }
            }
          }
        }

        .contenedor-escenas-small{
          display: none;

          .elemento{
            display: none;

            &-1{
              // Tomar diferentes posiciones
              background-position: 0% 0%;
            }
            &-2{
              background-position: 0% 100%;
            }
            &-3{
              background-position: 100% 0%;
            }
            &-4{
              background-position: 100% 100%;
            }

            
          }
        }

        

      }

      .columna-2{
        display: none;
        flex-direction: row-reverse;
        align-items: center;
        margin-left: 2%;

        // Tablet
        @include tablet{
          flex-direction: column;
        }

        .contenedor-texto-principal{
          color: white;
          overflow: hidden;
          font-size: 4rem;
          font-family: 'Salih Kizilkaya';
          // Texto vertical
          writing-mode: vertical-rl;


          // Tablet
          @include tablet{
            font-size: 6rem;
            writing-mode:horizontal-tb;

          }

          // Desktop
          @include desktop{
            writing-mode:horizontal-tb;

            font-size: 6.5rem;
          }
        }

        .contenedor-autor{
          color: #767474;
          font-size: 1.2rem;
          writing-mode: vertical-rl;

          // Tablet
          @include tablet{
            writing-mode:horizontal-tb;
          }

          // Desktop
          @include desktop{
            writing-mode:horizontal-tb;
          }

        }

        .contenedor-undefined{
          margin-top: 5%;
          color: white;
          font-size: 1rem;
          writing-mode: vertical-rl;


          // Tablet
          @include tablet{
            writing-mode:horizontal-tb;
          }

          // Desktop
          @include desktop{
            writing-mode:horizontal-tb;
          }



        }

        .contenedor{
          overflow: hidden;
          p{
            margin: 0px;
          }

          .titulo-2{
            

            // Tablet
            @include tablet{
              transform: translate(0px, -100%);
            }

            // Desktop
            @include desktop{
              transform: translate(0px, -100%);
            }

            &--secundario{
              opacity: 0;
            }
          } 
        }
      }
      

    }
  }


}

.bold{
  font-weight: 600;
}