@font-face {
  font-family: 'Salih Kizilkaya'; /* Nombre de la fuente */
  src: url('../fonts/Salih\ Kizilkaya\ -\ SK\ Zweig\ Rounded\ Light\ Italic.ttf') format('truetype'); /* Ruta al archivo de la fuente */
}

@font-face {
  font-family: 'Botanika Mono'; /* Nombre de la fuente */
  src: url('../fonts/Botanika\ Mono\ Regular.otf') format('truetype'); /* Ruta al archivo de la fuente */
}



$color-texto-secundario: #646363;
$color-texto-secundario-activado: #8b8b8b;
body {
  background-color: black;
}


.contenedor-general{
  width: 100%;
  display: flex;

  .navbar{
    width: 8%;
    height: 97%;
    font-size: 1.2rem;
    position: sticky;
    display: flex;
    
    font-family: 'Botanika Mono'; ;
    top: 0;
    color: $color-texto-secundario;
    // Texto vertical
    writing-mode: vertical-rl;
    // Voltear el texto de abajo hacia arriba
    transform: rotate(180deg);
    padding: 5px;
    line-height: 20px;

    // Quitar decoracion de a
    a{
      text-decoration: none;
      color: $color-texto-secundario;
    }

    .titulo{
      height: 39%;
      display: flex;
      text-align: end;
      color: $color-texto-secundario-activado;
      margin-bottom: 3%;


      a{
        margin-right: 13%;
        // Rotar el texto
        svg{
          // Invertir el texto
          transform: rotate(90deg);
        }
      }

      
      &-centro{
        height: 20%;
        margin-bottom: 7%;
        margin-top: 5%;
      }

      &-final{
        margin-top: 5%;
        margin-right: 1.5%;
        height: 45%;
        display: flex;
      }
    }
  }

  .contenedor-escenas{
    width: 90%;

    .elemento-parallax{
      width: 100%;
      height: 93vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .columna-1{
        width: 100%;
        height: 94%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .regresar{
          display: flex;
          align-items: center;
          width: 100%;
          color: white;
          opacity: 0;

          &:hover{
            cursor: pointer;
          }

          svg{
            width: 40px;
            margin-right: 30px;
          }
        }

        .background{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          // Hacer zoom en la imagen
          background-size: 150% 150%;
          &:hover{
            cursor: pointer;
          }
          &-1{
            background-image: url('../1.jpg');
          }
          &-2{
            background-image: url('../2.jpg');
          }
          &-3{
            background-image: url('../3.jpg');
          }
          &-4{
            background-image: url('../4.jpg');
          }
          &-5{
            background-image: url('../5.jpg');
          }
          &-6{
            background-image: url('../6.jpg');
          }
          &-7{
            background-image: url('../7.jpg');
          }
          &-8{
            background-image: url('../8.jpg');
          }
          &-9{
            background-image: url('../9.jpg');
          }
    
          .texto{
            color: white;
            font-size: 8rem;
            line-height: 0px;
            width: 100%;
            text-align: center;
            
            font-family: 'Salih Kizilkaya';
            
            .texto-grande{
              overflow: hidden;
              width: 100%;
            }
  
    
            .texto-pequeno{
              font-family: 'Botanika Mono';
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              font-size: 1.1rem;
              margin-top: -50px;
              
              p{
                line-height: 0px;
                margin-bottom: 0px;
              }
            }
          }
        }

        .contenedor-escenas-small{
          display: none;

          .elemento{
            background-image:  url('../1.jpg');
            display: none;

            
          }
        }

        

      }

      .columna-2{
        display: none;
        flex-direction: column;
        align-items:normal;
        margin-left: 2%;
        justify-content: center;
        .contenedor-texto-principal{
          color: white;
          overflow: hidden;
          font-size: 5rem;
          font-family: 'Salih Kizilkaya';
        }

        .contenedor-autor{
          color: #767474;
          font-size: 1.2rem;
        }

        .contenedor-undefined{
          color: white;
          font-size: 1rem;

        }

        .contenedor{
          overflow: hidden;
          p{
            margin: 0px;
          }

          .titulo-2{
            transform: translate(0px, -200%);
          } 
        }
      }
      

    }
  }


}

.bold{
  font-weight: 600;
}