@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@100..900&display=swap");

// mixin desktop y tablet
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

body {
  background-color: #ededed;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    .logo {
      width: 100px;
      height: 50px;
      background-image: url("../images/logo.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      //tablet
      @include tablet {
        width: 200px;
        height: 100px;
      }
    }

    .menu {
      display: none;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      z-index: 3;

      //tablet
      @include tablet {
        display: flex;
      }

      // Quitar estilos de los link
      a {
        text-decoration: none;
        color: black;
      }
    }

    .menu-burger {
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;

      //tablet
      @include tablet {
        display: none;
      }

      svg {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }

    .white-container {
      width: 45%;
      height: 60%;
      background-color: white;
      position: absolute;
      top: 50;
      right: -10px;
      z-index: 2;
      // Diagonal en la izquierda
      clip-path: polygon(11% 0, 100% 0%, 100% 100%, 0% 100%);

      //tablet
      @include tablet {
        width: 60%;
      }
    }
  }
}

.contenedor-primera-seccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 81vh;

  .titulo {
    width: 90%;
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem auto;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;

    // Desktop
    @include desktop {
      font-size: 2.8rem !important;
    }

    // tablet
    @include tablet {
      font-size: 2.2rem;
    }

    h1 {
      font-weight: normal;
    }
  }

  .contenedor-hero {
    width: 90%;
    margin: 0px auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    // tablet
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    .imagen-principal {
      aspect-ratio: 16/10;
      flex: 1;
      background-image: url("../images/hero.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 20px;
      display: none;

      &--mobile {
        display: block;
        width: 100%;
        height: 25vh;
        margin-top: 1rem;

        //tablet
        @include tablet {
          display: none !important;
        }
      }

      // tablet
      @include tablet {
        display: block;
        margin-right: 2rem;
      }
    }

    .contenedor-llamada-accion {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-variation-settings: "slnt" 0;

      // tablet
      @include tablet {
        width: 25%;
      }

      // desktop
      @include desktop {
        width: 20%;
      }



      h2{
        font-size: 1.2rem;

        //tablet
        @include tablet {
          font-size: 1.5rem;
        }
      }

      p {
        font-size: 1.1rem;
        text-align: center;
        margin-top: 2rem;
        color: #828282;

        // tabllet
        @include tablet {
          font-size: 1.1rem;
          text-align: left;
        }

        // desktop
        @include desktop {
          font-size: 1.3rem;
        }
      }

      .boton--principal {
        margin-top: 2rem;

        // tablet
        @include tablet {
          margin-top: 4rem;
        }
      }
    }
  }
}

.contenedor-platillos {
  width: 90%;
  margin: auto;

  .contenedor-platillo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;

    .imagen--platillo {
      margin-top: 2rem;

      &--1 {
        background-image: url("../images/platillo-1.png");
      }

      &--2 {
        background-image: url("../images/platillo-2.png");
      }
    }

    .descripcion {
      width: 80%;
      text-align: center;
      font-size: 1rem;
      margin-top: 2rem;
      color: #828282;
      font-family: "inter", sans-serif;

      // Desktop
      @include desktop {
        font-size: 1.3rem;
      }
    }

    .botones {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }
  }
}

.barra-diagonal {
  width: 90%;
  margin: auto;
  height: 25px;
  background-color: black;
  clip-path: polygon(2% 0, 100% 0%, 100% 100%, 0% 100%);

  &--1 {
    margin-bottom: 5rem;
  }

  &--2 {
    clip-path: polygon(0 0, 98% 0, 100% 100%, 0% 100%);
    margin-top: 5rem;
  }
}

.contenedor-actividades {
  width: 90%;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .titulo {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .imagen--actividades {
    margin-top: 2rem;
  }

  .imagen--actividades--1 {
    background-image: url("../images/experiencia-1.png");
  }

  .imagen--actividades--2 {
    background-image: url("../images/experiencia-2.png");
  }

  .imagen--actividades--3 {
    background-image: url("../images/experiencia-3.png");
  }

  .descripcion {
    width: 50%;
    font-size: 1rem;
    color: #828282;
    text-align: left;

    // Desktop
    @include desktop {
      font-size: 1.3rem;
    }
  }
}

.contenedor-criticos {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;

  .contenedor-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4rem;

    // tablet
    @include tablet {
      flex-direction: row;
    }

    .card {
      width: 90%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      margin: auto;
      margin-bottom: 2rem;

      &--2 {
        margin-top: 0% !important;

        // tablet
        @include tablet {
          margin-top: 8% !important;
        }
      }

      // tablet
      @include tablet {
        width: 25%;
        margin: 0px;
        height: 400px;
      }

      .imagen {
        align-self: center;
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;

        &--critico {
          background-image: url("../images/Avatar.png");
        }
      }

      .nombre {
        font-size: 1.3rem;
        margin-top: 1rem;
      }

      .quote {
        font-size: 1.5rem;
        margin-top: 1rem;
        font-weight: bold;
        align-self: center;
      }

      .descripcion {
        font-size: 1rem;
        margin-top: 1rem;
        color: #828282;
      }
    }
  }
}

.footer {
  margin-top: 5rem;
  width: 100%;
  height: 20vh;
  background-color: white;
  display: flex;
  flex-direction: row;

  .contenedor-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;

    // tablet
    @include tablet {
      width: 50%;
      padding: 2rem;
      align-items: start;
    }

    .logo {
      width: 50%;
      height: 50%;
      background-image: url("../images/logo.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      //tablet
      @include tablet {
        width: 200px;
        height: 100px;
      }
    }

    .redes {
      display: flex;
      flex-direction: row;
      justify-content: start;
      margin-top: 2rem;

      svg {
        margin-right: 1rem;
        width: 20px;
        height: 20px;
        color: #828282;
      }
    }
  }

  .contenedor-2 {
    width: 50%;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;

    // tablet
    @include tablet {
      padding: 2rem;
      display: flex;
    }

    .division {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 0.5rem;

      // tablet
      @include tablet {
        font-size: 1rem;
      }

      a {
        color: black;
      }
    }
  }
}

.inferior {
  padding-top: 5rem;
}

.boton {
  width: 100px;
  padding: 0.8rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  //tablet
  @include tablet {
    width: 192px;
  }

  &--secundario {
    background-color: white;
    color: black;
    margin-left: 2rem;

    //tablet
    @include tablet {
      margin-left: 4rem;
    }

    a {
      font-family: 'inter', sans-serif;
      color: black !important;
      text-decoration: none;
    }
  }

  a {
    font-family: 'inter', sans-serif;
    color: white;
    text-decoration: none;
  }
}

.titulo {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  font-family: "Inter", sans-serif;

  //tablet
  @include tablet {
    font-size: 1.7rem;
  }

  // desktop
  @include desktop {
    font-size: 1.8rem;
  }
}

.subtitulo {
  font-size: 1.2rem;
  text-align: center;
  font-family: "forum", serif;

  //tablet
  @include tablet {
    font-size: 1.3rem;
  }

  // desktop
  @include desktop {
    font-size: 1.3rem;
  }
}

.imagen {
  aspect-ratio: 16/7;
  width: 100%;
  height: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;

  //tablet
  @include tablet {
    aspect-ratio: 16/7;
    width: 100%;
    height: auto;
  }

  // desktop
  @include desktop {
    aspect-ratio: 16/6;
    width: 100%;
    height: auto;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    font-weight: bold;
  }
}

section {
  max-width: 1440px;
  margin: auto;
}
