body {
  background-color: #ededed;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navbar .container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.navbar .container .logo {
  width: 100px;
  height: 50px;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .navbar .container .logo {
    width: 200px;
    height: 100px;
  }
}
.navbar .container .menu {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  z-index: 3;
}
@media (min-width: 768px) {
  .navbar .container .menu {
    display: flex;
  }
}
.navbar .container .menu a {
  text-decoration: none;
  color: black;
}
.navbar .container .menu-burger {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
@media (min-width: 768px) {
  .navbar .container .menu-burger {
    display: none;
  }
}
.navbar .container .menu-burger svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.navbar .container .white-container {
  width: 60%;
  height: 60%;
  background-color: white;
  position: absolute;
  top: 50;
  right: -10px;
  z-index: 2;
  -webkit-clip-path: polygon(11% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(11% 0, 100% 0%, 100% 100%, 0% 100%);
}

.contenedor-primera-seccion {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  height: 80vh;
}
.contenedor-primera-seccion .titulo {
  width: 90%;
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem auto;
}
@media (min-width: 1024px) {
  .contenedor-primera-seccion .titulo {
    font-size: 3.5rem !important;
  }
}
@media (min-width: 768px) {
  .contenedor-primera-seccion .titulo {
    font-size: 3rem;
  }
}
.contenedor-primera-seccion .titulo h1 {
  font-weight: normal;
}
.contenedor-primera-seccion .contenedor-hero {
  width: 90%;
  margin: 0px auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
@media (min-width: 768px) {
  .contenedor-primera-seccion .contenedor-hero {
    flex-direction: row;
    justify-content: space-between;
  }
}
.contenedor-primera-seccion .contenedor-hero .imagen-principal {
  width: 65%;
  height: 60vh;
  background-image: url("../images/hero.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  display: none;
}
@media (min-width: 768px) {
  .contenedor-primera-seccion .contenedor-hero .imagen-principal {
    display: block;
  }
}
.contenedor-primera-seccion .contenedor-hero .contenedor-llamada-accion {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .contenedor-primera-seccion .contenedor-hero .contenedor-llamada-accion {
    width: 30%;
  }
}
.contenedor-primera-seccion .contenedor-hero .contenedor-llamada-accion p {
  font-size: 1.3rem;
  text-align: left;
  margin-top: 2rem;
  color: #828282;
}
.contenedor-primera-seccion .contenedor-hero .contenedor-llamada-accion .boton--principal {
  margin-top: 4rem;
}

.contenedor-platillos {
  width: 90%;
  margin: auto;
}
.contenedor-platillos .contenedor-platillo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.contenedor-platillos .contenedor-platillo .imagen--platillo {
  margin-top: 2rem;
}
.contenedor-platillos .contenedor-platillo .imagen--platillo--1 {
  background-image: url("../images/platillo-1.png");
}
.contenedor-platillos .contenedor-platillo .imagen--platillo--2 {
  background-image: url("../images/platillo-2.png");
}
.contenedor-platillos .contenedor-platillo .descripcion {
  font-size: 1rem;
  margin-top: 2rem;
  color: #828282;
}
@media (min-width: 1024px) {
  .contenedor-platillos .contenedor-platillo .descripcion {
    font-size: 1.3rem;
  }
}
.contenedor-platillos .contenedor-platillo .botones {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.barra-diagonal {
  width: 90%;
  margin: auto;
  height: 25px;
  background-color: black;
  -webkit-clip-path: polygon(2% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(2% 0, 100% 0%, 100% 100%, 0% 100%);
}
.barra-diagonal--1 {
  margin-bottom: 5rem;
}
.barra-diagonal--2 {
  -webkit-clip-path: polygon(0 0, 98% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 98% 0, 100% 100%, 0% 100%);
  margin-top: 5rem;
}

.contenedor-actividades {
  width: 90%;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-actividades .titulo {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.contenedor-actividades .imagen--actividades {
  margin-top: 2rem;
}
.contenedor-actividades .imagen--actividades--1 {
  background-image: url("../images/experiencia-1.png");
}
.contenedor-actividades .imagen--actividades--2 {
  background-image: url("../images/experiencia-2.png");
}
.contenedor-actividades .imagen--actividades--3 {
  background-image: url("../images/experiencia-3.png");
}
.contenedor-actividades .descripcion {
  width: 50%;
  font-size: 1rem;
  color: #828282;
  text-align: left;
}
@media (min-width: 1024px) {
  .contenedor-actividades .descripcion {
    font-size: 1.3rem;
  }
}

.contenedor-criticos {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.contenedor-criticos .contenedor-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4rem;
}
@media (min-width: 768px) {
  .contenedor-criticos .contenedor-cards {
    flex-direction: row;
  }
}
.contenedor-criticos .contenedor-cards .card {
  width: 90%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .contenedor-criticos .contenedor-cards .card {
    width: 25%;
    margin: 0px;
  }
}
.contenedor-criticos .contenedor-cards .card .imagen {
  align-self: center;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.contenedor-criticos .contenedor-cards .card .imagen--critico {
  background-image: url("../images/Avatar.png");
}
.contenedor-criticos .contenedor-cards .card .nombre {
  font-size: 1.3rem;
  margin-top: 1rem;
}
.contenedor-criticos .contenedor-cards .card .quote {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: bold;
  align-self: center;
}
.contenedor-criticos .contenedor-cards .card .descripcion {
  font-size: 1rem;
  margin-top: 1rem;
  color: #828282;
}

.footer {
  margin-top: 5rem;
  width: 100%;
  height: 20vh;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.footer .contenedor-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer .contenedor-1 {
    padding: 2rem;
  }
}
.footer .contenedor-1 .logo {
  width: 100px;
  height: 50px;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .footer .contenedor-1 .logo {
    width: 200px;
    height: 100px;
  }
}
.footer .contenedor-1 .redes {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 2rem;
}
.footer .contenedor-1 .redes svg {
  margin-right: 1rem;
  width: 20px;
  height: 20px;
  color: #828282;
}
.footer .contenedor-2 {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer .contenedor-2 {
    padding: 2rem;
  }
}
.footer .contenedor-2 .division {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.5rem;
}
@media (min-width: 768px) {
  .footer .contenedor-2 .division {
    font-size: 1rem;
  }
}
.footer .contenedor-2 .division a {
  color: black;
}

.inferior {
  padding-top: 5rem;
}

.boton {
  width: 80px;
  padding: 0.8rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .boton {
    width: 180px;
  }
}
.boton--secundario {
  background-color: white;
  color: black;
}
.boton--secundario a {
  color: black !important;
  text-decoration: none;
}
.boton a {
  color: white;
  text-decoration: none;
}

.titulo {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}
@media (min-width: 768px) {
  .titulo {
    font-size: 1.7rem;
  }
}
@media (min-width: 1024px) {
  .titulo {
    font-size: 1.8rem;
  }
}

.subtitulo {
  font-size: 1.2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .subtitulo {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  .subtitulo {
    font-size: 1.3rem;
  }
}

.imagen {
  width: 85%;
  height: 20vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}
@media (min-width: 1024px) {
  .imagen {
    height: 50vh;
  }
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */