// Mixin desktop y tablet
@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

body {
  background-color: #ededed;
  overflow-x: hidden;
  width: 100%;
  margin: 0;

}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    .logo {
      width: 200px;
      height: 100px;
      background-image: url("../images/logo.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      z-index: 3;

      // Quitar estilos de los link
      a {
        text-decoration: none;
        color: black;
      }
    }

    .white-container {
      width: 60%;
      height: 60%;
      background-color: white;
      position: absolute;
      top: 50;
      right: -10px;
      z-index: 2;
      // Diagonal en la izquierda
      clip-path: polygon(11% 0, 100% 0%, 100% 100%, 0% 100%);
    }
  }
}

.contenedor-primera-seccion {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  height: 80vh;

  .titulo {
    width: 90%;
    font-size: 4rem;
    text-align: center;
    margin: auto;

    h1 {
      font-weight: normal;
    }
  }

  .contenedor-hero {
    width: 90%;
    margin: 0px auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .imagen-principal {
      width: 65%;
      height: 60vh;
      background-image: url("../images/hero.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 20px;
    }

    .contenedor-llamada-accion {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 1.3rem;
        text-align: left;
        margin-top: 2rem;
        color: #828282;
      }

      .boton--principal {
        margin-top: 4rem;
      }
    }
  }
}

.contenedor-platillos {
  width: 90%;
  margin: auto;

  .contenedor-platillo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;

    .imagen--platillo {
      margin-top: 2rem;

      &--1 {
        background-image: url("../images/platillo-1.png");
      }

      &--2 {
        background-image: url("../images/platillo-2.png");
      }
    }

    .descripcion {
      font-size: 1rem;
      margin-top: 2rem;
      color: #828282;

      // Desktop
      @include desktop {
        font-size: 1.3rem;
      }
    }

    .botones {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
    }
  }
}

.barra-diagonal{
  width: 90%;
  margin: auto;
  height: 25px;
  background-color: black;
  clip-path: polygon(2% 0, 100% 0%, 100% 100%, 0% 100%);

  &--1{
    margin-bottom: 5rem;
  }

  &--2{
    clip-path: polygon(0 0, 98% 0, 100% 100%, 0% 100%);
    margin-top: 5rem;
  }
}

.contenedor-actividades {
  width: 90%;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .titulo {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .imagen--actividades{
    margin-top: 2rem;
  }

  .imagen--actividades--1 {
    background-image: url("../images/experiencia-1.png");
  }

  .imagen--actividades--2 {
    background-image: url("../images/experiencia-2.png");
  }

  .imagen--actividades--3 {
    background-image: url("../images/experiencia-3.png");
  }

  .descripcion {
    width: 50%;
    font-size: 1rem;
    color: #828282;
    text-align: left;

    // Desktop
    @include desktop {
      font-size: 1.3rem;
    }
  }
}

.contenedor-criticos{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;

  .contenedor-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4rem;

    .card{
      width: 25%;
      height: 35vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      border-radius: 20px;
      background-color: white;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);

      .imagen{
        align-self: center;
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;

        &--critico{
          background-image: url("../images/Avatar.png");
        }
      }

      .nombre{
        font-size: 1.3rem;
        margin-top: 1rem;
      }

      .quote{
        font-size: 1.5rem;
        margin-top: 1rem;
        font-weight: bold;
        align-self: center;
      }

      .descripcion{
        font-size: 1rem;
        margin-top: 1rem;
        color: #828282;
      }
    
    }
  }
}

.footer{
  margin-top: 5rem;
  width: 100%;
  height: 20vh;
  background-color: white;
  display: flex;
  flex-direction: row;

  .contenedor-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;

    .titulo{
      text-align: start;
    }

    .redes{
      display: flex;
      flex-direction: row;
      justify-content: start;
      margin-top: 2rem;

      svg{
        margin-right: 1rem;
        width: 20px;
        height: 20px;
        color: #828282;
      
      }
    }
  }

  .contenedor-2{
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .division{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a{
        color: black;
        
      }


    }

  }
}

.inferior {
  padding-top: 5rem;
}

.boton {
  width: 180px;
  padding: 0.8rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 10px;

  &--secundario {
    background-color: white;
    color: black;

    a {
      color: black !important;
      text-decoration: none;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.titulo {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
}

.subtitulo {
  font-size: 1.3rem;
  text-align: center;
}

.imagen {
  width: 85%;
  height: 20vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;

  // desktop
  @include desktop {
    height: 40vh;
  }
}

a {
  
  text-decoration: none;

  &:hover {
    text-decoration: none;
    font-weight: bold;
  }
}