// mixin desktop y tablet
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

.container-link-animaciones{
  position: absolute;
  width: 80%;
  top: 85%;
  left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  border: 2px solid black;
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  font-family: 'Inter', sans-serif;

    // tablet 
    @include tablet{
      width: 40%;
    }
  
    // desktop
    @include desktop{
      width: 30%;
    }
  
    .texto{
      // intervalo de font-size
      font-size: 0.7rem;
  
      // tablet
      @include tablet{
        font-size: 1rem;
      }
    }
  
    .numero{
      position: relative;
      border-radius: 50%;
      border: 2px solid black;
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
  
      // tablet
      @include tablet{
        width: 30px;
        height: 30px;
      }
  
      a {
        width: 100%;
        height: 100%;
        position: absolute;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: gray;
      }
  
      &--selected{
        background-color: black;
        
        a{
          color: white;
        }
  
      }
  
      &:hover{
        background-color: black;
        a{
          color: white;
          font-weight: bold;
        }
      }
    }

  // Quitar estilos de los link


}


body {
  background-color: var(#e3efed);
  background: url(../noise.png),
    radial-gradient(circle, #e3efed 0%, #8ca9af 100%);
}

.escena-principal {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  perspective: 1000px;
  position: relative;

  .navbar{
    position: absolute;
    top: 1%;
    width: 98%;
    display: flex;
    font-size: 0.8rem;
    color: black;
    justify-content: space-between;

    .seccion-1{
      width: 60%;

      a{
        margin-right: 15px;
      }

      .selected{
        font-weight: bold;
      }
     
    }

    .seccion-2{



      width: 40%;
      display: flex;
      justify-content: flex-end;

      // tablet
      @include tablet {
        width: 45%;
      }

      // desktop
      @include desktop {
        width: auto;
      }
    }

   
    // Quitar estilos de links
    a {
      text-decoration: none;
      color: black;
    }

  }

  .container-principal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .texto-principal{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      z-index: 99;
      .titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3.9rem;
      }

      .fecha{
        font-size: 1.5rem;
      }
    
    }

    .contenedor-imagenes{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;


      .card{
        position: absolute;
        width: 90px;
        height: 150px;
        transform-origin: 50% 210px;


        .img{
          width: 100%;
          height: 100%;
          background-size: cover;
          

          &-1{
            background-image: url(../img/1.jpg);
          }
          
          &-2{
            background-image: url(../img/2.jpg);
          }
          &-3{
            background-image: url(../img/3.jpg);
          }
          &-4{
            background-image: url(../img/4.jpg);
          }
          &-5{
            background-image: url(../img/5.jpg);
          }
          &-6{
            background-image: url(../img/6.jpg);
          }
          &-7{
            background-image: url(../img/7.jpg);
          }
          &-8{
            background-image: url(../img/8.jpg);
          }
          &-9{
            background-image: url(../img/9.jpg);
          }

        }
      }
    }
  }
}
